body{
    background-color: #f7a26e;
}

.balao{
    position: absolute;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    background-color: #0564e9;
    animation: subindo 5s;
}

.balao::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 150px;
    background-color: white;
    top: 120px;
    left: 50px;
}

.balao::after{
    position: absolute;
    content: '';
    border-bottom: 12px solid #0583ff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 119px;
    left: 41px;
}

.balao:nth-child(2){
    left: 80px;
    background-color: #eb5f80;
    animation-duration: 4s;
}

.balao:nth-child(2)::after{
    border-bottom: 12px solid #e156a9;
}

.balao:nth-child(3){
    left: 150px;
    background-color: #ffd020;
    animation-duration: 6s;
}

.balao:nth-child(3)::after{
    border-bottom: 12px solid #ffac08;
}

.balao:nth-child(4){
    left: 200px;
    background-color: #124123;
    animation-duration: 4.5s;
}

.balao:nth-child(4)::after{
    border-bottom: 12px solid #122e16;
}

.balao:nth-child(5){
    left: 270px;
    background-color: #a55baa;
    animation-duration: 7s;
}

.balao:nth-child(5)::after{
    border-bottom: 12px solid #553d74;
}

.balao:nth-child(6){
    left: 350px;
    background-color: #a0324f;
    animation-duration: 4s;
}

.balao:nth-child(6)::after{
    border-bottom: 12px solid #76264a;
}

.balao:nth-child(7){
    left: 400px;
    background-color: #7c7973;
    animation-duration: 3s;
}

.balao:nth-child(7)::after{
    border-bottom: 12px solid #121708;
}

.balao:nth-child(8){
    left: 480px;
    background-color: #096ca0;
    animation-duration: 4.5s;
}

.balao:nth-child(8)::after{
    border-bottom: 12px solid #0f2b44;
}

.balao:nth-child(9){
    left: 1400px;
    background-color: #63361e;
    animation-duration: 6s;
}

.balao:nth-child(9)::after{
    border-bottom: 12px solid #401d12;
}

.balao:nth-child(10){
    left: 550px;
    background-color: #cde254;
    animation-duration: 5s;
}

.balao:nth-child(10)::after{
    border-bottom: 12px solid #00cd48;
}

.balao:nth-child(11){
    left: 610px;
    background-color: #843793;
    animation-duration: 4s;
}

.balao:nth-child(11)::after{
    border-bottom: 12px solid #6c3f86;
}

.balao:nth-child(12){
    left: 680px;
    background-color: #f9407e;
    animation-duration: 6s;
}

.balao:nth-child(12)::after{
    border-bottom: 12px solid #b6136c;
}

.balao:nth-child(13){
    left: 720px;
    background-color: #bd203c;
    animation-duration: 7s;
}

.balao:nth-child(13)::after{
    border-bottom: 12px solid #c00000;
}

.balao:nth-child(14){
    left: 1450px;
    background-color: #559e9c;
    animation-duration: 4.5s;
}

.balao:nth-child(14)::after{
    border-bottom: 12px solid #0091aa;
}

.balao:nth-child(15){
    left: 810px;
    background-color: #595f7e;
    animation-duration: 3s;
}

.balao:nth-child(15)::after{
    border-bottom: 12px solid #1c243b;
}

.balao:nth-child(16){
    left: 900px;
    background-color: #d66f76;
}

.balao:nth-child(16)::after{
    border-bottom: 12px solid #a92351;
}

.balao:nth-child(17){
    left: 950px;
    background-color: #a5df98;
    animation-duration: 6s;
}

.balao:nth-child(17)::after{
    border-bottom: 12px solid #23af99;
}

.balao:nth-child(18){
    left: 1020px;
    background-color: #744d4a;
    animation-duration: 4s;
}

.balao:nth-child(18)::after{
    border-bottom: 12px solid #5a3a38;
}

.balao:nth-child(19){
    left: 1100px;
    background-color: #2bcac8;
    animation-duration: 7s;
}

.balao:nth-child(19)::after{
    border-bottom: 12px solid #2ba2c8;
}

.balao:nth-child(20){
    left: 1150px;
    background-color: #992042;
}

.balao:nth-child(20)::after{
    border-bottom: 12px solid #61153b;
}

.balao:nth-child(21){
    left: 1210px;
    background-color: #e5bce5;
    animation-duration: 5.5s;
}

.balao:nth-child(21)::after{
    border-bottom: 12px solid #d1a3e2;
}

.balao:nth-child(22){
    left: 1300px;
    background-color: #843793;
    animation-duration: 3s;
}

.balao:nth-child(22)::after{
    border-bottom: 12px solid #6c3f86;
}

@keyframes subindo{
    0%{
        top: 90%;
        opacity: 1;
    }

    99%{
        opacity: 1;
    }

    100%{
        top: -100%;
        opacity: 0;
    }
}

#parabens{
    font-size: 150px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.subtitulo{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: -100px;
}

#botaoPresente{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.presente{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.infospresente{
    background-color: #08a3c2;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    width: 600px;
    height: 500px;
    display: flex;
    border: 20px groove  #ff91be;
}

#euSouOPresente{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: -15px;
}

.infospresente button{
    margin-top: 380px;
    margin-left: -220px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.presente.show{
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
}

cartinha{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: justify;
}

cartinha p{
    margin: 50px;
}

.botoesExtra{
    font-size: 30px;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 280px;
    margin-top: 50px;
}
.galeria{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.fotos{
    text-align: center;
    background-color: #12475f;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 5px;
    width: 600px;
    height: 700px;
    list-style: none;
    overflow: scroll;
    border: 5px solid white;
}

.galeria.show{
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
}

#fechaGaleria{
    font-size: 30px;
    height: 50px;
    border-radius: 10px;
}

.listaMusicas{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.listaMusicas.show{
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
}

.musicas{
    text-align: center;
    background-color: #12475f;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 5px;
    width: 600px;
    height: 600px;
    list-style: none;
    font-size: 50px;
    border: 5px solid white;
}

.musicas a{
    color: white;
    text-decoration: none;
}

#fechaMusicas{
    font-size: 30px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

#final{
    margin-top: 150px;
}

/*()*/